h1 {
    color: red;
    font-size: 60px;
}
li{
    color: aqua;
    font-size: 35px;
}
h2{
    color: blue;
    font-size: 50px;
}
body{
    background-color: blanchedalmond;
}
img{
    width: 250px;
    height: 200px;;
}